# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

semana-tec-web-firebase-adminsdk-pwy0a-0fc84b49af.json